@tailwind utilities;

body {
  color: rgb(var(--foreground-rgb));
  background-color: var( --background-rgb);
}

.slide-image {
  position: relative;
}

.blur-image-animated {
  position: absolute;
  top: 0;
}
